<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#portfolio" class="portfolio-box">
                    <%= image_tag "creative/portfolio/1.jpg", class: "img-responsive", alt: "" %>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Foodtruck
                            </div>
                            <div class="project-name">
                                Churrascos Jewell
                            </div>
                            <br>
                            <div>
                                Vender churrascos caseros en un Foodtruck acondicionado para 2 Chef
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#portfolio" class="portfolio-box">
                    <%= image_tag "creative/portfolio/2.jpg", class: "img-responsive", alt: "" %>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Instagram
                            </div>
                            <div class="project-name">
                                EYEeye
                            </div>
                            <br>
                            <div>
                                Vender productos importados de Edtados Unidos por Instagram
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#portfolio" class="portfolio-box">
                    <%= image_tag "creative/portfolio/3.jpg", class: "img-responsive", alt: "" %>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                App
                            </div>
                            <div class="project-name">
                                MyFirstApp
                            </div>
                            <br>
                            <div>
                                App para poder pedir comida por Facebook
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#portfolio" class="portfolio-box">
                    <%= image_tag "creative/portfolio/4.jpg", class: "img-responsive", alt: "" %>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Inteligencia Artificial
                            </div>
                            <div class="project-name">
                                MyBot.bot
                            </div>
                            <br>
                            <div>
                                Robot con inteligencia artificial que permite entregar información por Facebook Messenger
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#portfolio" class="portfolio-box">
                    <%= image_tag "creative/portfolio/5.jpg", class: "img-responsive", alt: "" %>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Logística
                            </div>
                            <div class="project-name">
                                Mudanzas Don Gonzalo
                            </div>
                            <br>
                            <div>
                                Crear una empresa de mudanza especializada en las Pymes que se cambian de oficina
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#portfolio" class="portfolio-box">
                    <%= image_tag "creative/portfolio/6.jpg", class: "img-responsive", alt: "" %>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Proyectos Sociales
                            </div>
                            <div class="project-name">
                                Descontaminar Rio Silili
                            </div>
                            <br>
                            <div>
                                Proyecto para Descontaminar el rio a través de practicantes de escuelas cercanas
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
